/** define colors for the App */
html {
  --color-dark-title : rgb(56, 56, 56);
  --color-gray-h3: rgb(73, 73, 73);
  --color-light-title: rgb(98, 98, 98);
  --color-bg-footer: rgb(200, 200, 200);
  --color-button: rgb(38, 190, 38);
  --color-page-titles: rgb(5, 197, 197);
  --color-ribbon-1: rgba(74, 65, 202, 0.75);
  --color-ribbon-2: rgba(202, 154, 65, 0.75);
  --color-ribbon-3: rgba(81, 202, 65, 0.75);
  --color-ribbon-4: rgba(202, 65, 133, 0.75);
}

.App {
  text-align: center;
  letter-spacing: 1px;
}

